* {margin: 0; padding: 0; border: none; text-decoration: none;}
html {
	background: url(/ABLE/images/bg1.gif) #ddddae center;
	text-align: center;
	font: small "Georgia", "Palatino Linotype", "Times New Roman", serif;
	color: #444;
}
body {
	background: url(/ABLE/images/bg2.jpg) center top repeat-x;
	
}
p, ul, ol {
	padding: 5px 0;
	line-height: 150%;
}
ol {list-style-type: upper-roman;}
ul {list-style-type: circle;}
li {margin-left: 1.5em;}
a:link {border-bottom: 1px dashed; color: #697f0f; font-weight: normal; text-decoration:none;}
a:visited {border: none; font-weight: normal;}
code {color: #f5f5f5; font-size: 100%;}
blockquote, .box {
	border-left: 5px solid #0b1207;
	background: url(/ABLE/images/quote.gif) #2a451a top left no-repeat !important;
	background-position: .1cm 0;
	margin: 10px 0;
	padding: 0 10px 0 20px;
	font-style: italic;
	color: #b6cf9b;
	width: 100px;
	overflow:hidden;
	
}
#header {
	height: 123px;
	position: relative;
	margin-left: 80px;
}

#container {
	width: 1200px;
	margin: 0 auto;
	text-align: left;
	background: url(/ABLE/images/header.jpg) top left no-repeat;
	padding-right: 13px !important;
	padding-right: 12px;
}
						/*post amd content stuff*/
#bigcontent
{
	margin-top: 100px;
	/*width:850px;*/
	width:900px;
	/*float:right;*/
	float:left;
}
#content {
	width: 800px;
	float:left;
	background: url(/ABLE/images/bg_content-top.jpg) #365921 top left repeat-x;
	color: #ffedaf;
	position:relative;
	margin: 0 0 0 0;
}
#mcontent {
	width: 615px;
	float:left;
	background: url(/ABLE/images/bg_content-top.jpg) #365921 top left repeat-x;
	color: #ffedaf;
	position:relative;
	margin: 0 0 0 0;
}

#content div {
	
	background: url(/ABLE/images/bg_content-bottom.gif) bottom repeat-x;
	padding: 20px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:15px;
}

#mcontent div {
	
	background: url(/ABLE/images/bg_content-bottom.gif) bottom repeat-x;
	padding: 20px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:15px;
}
#content div div {background: none; padding: 0;}

#content h2 {
	background: url(/ABLE/images/bg_title.gif) left top no-repeat;
	color: #f4d547;
	margin: 0 -20px;
	font:  normal 20px Geneva, Arial, Helvetica, sans-serif;
	font-size:26px;
	padding: 16px 10px 20px 90px;
	width: 600px;
}

#mcontent h2 {
	background: url(/ABLE/images/bg_title.gif) left top no-repeat;
	color: #f4d547;
	margin: 0 -20px;
	font:  normal 20px Geneva, Arial, Helvetica, sans-serif;
	font-size:26px;
	padding: 16px 10px 20px 90px;
	width: 600px;
}
h3 {
	padding-top: .3em;
	font: italic bold 1.6em "Comic Sans MS";
}
#content h3 {
	font-size: 1.3em;
	color: #e5cb5d;
	border-bottom: 3px solid #2d4f18;
}
#content p, #content li {text-align: justify;}
#content a:link, #content a:visited{
/*	color: #b3c46c;*/
	border-color: #58803a;
}
#post a:link, #post a:visited, #mcontent a:link, #mcontent a:visited{
	color: #b3c46c;
	border-color: #58803a;
}
#bigcontent a:link, #bigcontent a:hover
{
	color:#003300;
}
#content a:hover, #post a:hover, #mcontent a:hover {color: #fadb7e;}

#post {
	width: 800px;
	float: left;
	background: url(/ABLE/images/bg_content-top.jpg) #365921 top repeat-x;
	color: #ffedaf;
	position:relative;
	margin: 10px 0 0 0;
	padding:30px;
	font-size:15px;
	text-align:justify;
	font-family: "Comic Sans MS";	
}
#content {
	width: 800px;
	float:left;
	background: url(/ABLE/images/bg_content-top.jpg) #365921 top left repeat-x;
	color: #ffedaf;
	position:relative;
	margin: 0 0 0 0;
}
#content div {
	
	background: url(/ABLE/images/bg_content-bottom.gif) bottom repeat-x;
	padding: 20px;
	font-family: "Comic Sans MS";
	font-size:15px;
}
#post h2 {
	background: url(/ABLE/images/bg_title.gif) left top no-repeat;
	color: #f4d547;
	margin: 0 -20px;
	font:  normal 20px Geneva, Arial, Helvetica, sans-serif;
	font-size:26px;
	padding: 16px 10px 20px 90px;
	width: 600px;
}


td.date
{padding-left:320px;
}
h1.heading {
	color: #ffffff;
	font: italic normal 40px "Times New Roman", "Georgia", sans-serif;
	background: url(/ABLE/images/bg2.jpg) repeat-x;
	padding: 10px 0 0 0;
}
					/*post and content stuff over*/

					/*column stuff*/
#column {
	width: 260px;
	/*background: url(/ABLE/images/bg3.gif) left top repeat-y;
	*/float: left;
			border:solid 1px #DEDEDE;
	margin:100px 0px 0 0;
}

#column div div {
	margin: 0;
	padding: 0;
	background: none;
}				
#column h2, #column h3 {color: #1b300f;}
#column ul.menu {padding: 0px; margin:20px;}
#column ul.menu li {
	display: inline;
	margin:0;
	list-style: none;
	font-size:17px;
}
#container #column ul.menu li a {
	display: block;
	margin: 3px 0;
	background: #b3c46c;
	text-decoration:none;
	border-bottom: 1px solid #99ab3c;
	padding: 10px 40px;
	color:#006600;
	font-family: "Comic Sans MS";
	font: lighter;
	position: relative;
	font-weight: normal;
}
#container #column ul.menu li a:hover{
	color: #000;
	text-decoration:none;
	background: url(/ABLE/images/sidemenu_hover.gif) #b3c46c right center no-repeat;
}
#container #column ul.menu .active a
{
	background: url(/ABLE/images/sidemenu_hover.gif) #b3c46c right no-repeat;
	color: #003300;
}

#column a:link, #column a:visited {
	color: #697f0f;
	border-color: #99ab3c;
}

#column a:hover {color: #ffedaf;}

#container #column a.credit {
	display: block;
	height: 30px;
	text-indent: -9999px;
	border: none;
}
							/*column stuff over*/
							/*mainmenu stuff*/
#mainmenu {
	position: absolute;
	left: 450px;
	margin-top: 70px;
	bottom: 1px !important;
	bottom: 0;
	list-style: none;
	top: 71px;
	width: 650px;
}
#mainmenu li {
	width: auto;
	float: left;
	margin-left: 15px;
}
#container #mainmenu li a {
	display: block;
	border: none;
	/*color: #a9c57f;*/
	color:#FFFFFF;
	padding: 0px 9px;
	text-decoration:none;
	font: 23px "Comic Sans MS";
}
#container #mainmenu li a span {
	display: block;
	padding: 10px 0;
}
/*	#mainmenu li:hover, #mainmenu li.over, #mainmenu .active {
background: url(/ABLE/images/menu_hover-left.gif) top left no-repeat; 
}
#container #mainmenu li:hover a, #container #mainmenu li.over a, #mainmenu .active a {
	background: url(/ABLE/images/menu_hover-right.gif) top right no-repeat;
}*/
#container #mainmenu li:hover a span, #container #mainmenu li.over a span{
	color:#000;
}
#container #mainmenu li a:hover {
	color: #f2ff7f;
}
#container #mainmenu .active a span {
	color: #003300;
	background: none;
}

blockquote.legal a
{
	color: #b6cf9b;
}

#content, #column div {
	overflow: visible !important;
	overflow: hidden;
}
						/*mainmenu stuff over*/

						/*base stuff*/
#base	{
	width: 456px;
	left:	594px;
	margin-top: 20px;
	float: left;
	display:block;
	font: 25px Verdana,Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	position:absolute;
	list-style:none;
}

#base li {
	background: url(/ABLE/images/bg3.gif) repeat;
	padding: 10px;
	height: auto;
	position:relative;
	width: auto;
	float: left;
	margin-left: 30px;
}
body #base li a {
	display: block;
	border: none;
	color: #000000;
	padding: 0px 9px;
	text-decoration:none;
	font: bold 23px "Times New Roman", "Georgia", sans-serif;
}
							/*base stuff*/
							/*footer stuff*/
#footer {
	clear: both;
	padding-top:10px;
	text-align: center;
	font-size: 85%;
	color: #7ca758;
}
#footer a:link, #footer a:visited {
	color: #7ca758;
	border: none;
	font-weight: bold;
}

							/*footer stuff over*/
#footer a:hover {color: #345620;}

/* css for photot gallery*/


#templatemo_content_left .templatemo_post {

	margin: 15px;
	padding: 0;
	
}


.templatemo_post h1 {
	
	font-family: Tahoma;
	font-size: 18px;
	color: #588970;
	margin: 0 0 15px 0;
	padding: 0;
	
}

.templatemo_post p {
	
	font-family: Arial;
	font-size: 12px;
	color: #46574d;
	text-align: justify;
	margin: 0 0 15px 0;
	padding: 0;
	
	text-decoration:none;
	
}
.templatemo_post a
{
text-decoration: none;
}

.templatemo_post img {

	margin: 0 0 0 5px;
	padding: 0;
	border: 1px solid #333;
	
}
