<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ABLE</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>able.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/MyDataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>able.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>able.servlets.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Post</display-name>
    <servlet-name>Post</servlet-name>
    <servlet-class>able.servlets.Post</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Post</servlet-name>
    <url-pattern>/Post</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingPost</display-name>
    <servlet-name>ViewPendingPost</servlet-name>
    <servlet-class>able.servlets.ViewPendingPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingPost</servlet-name>
    <url-pattern>/ViewPendingPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAcceptedPost</display-name>
    <servlet-name>ViewAcceptedPost</servlet-name>
    <servlet-class>able.servlets.ViewAcceptedPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAcceptedPost</servlet-name>
    <url-pattern>/ViewAcceptedPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reviews</display-name>
    <servlet-name>Reviews</servlet-name>
    <servlet-class>able.servlets.Reviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reviews</servlet-name>
    <url-pattern>/Reviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingReviews</display-name>
    <servlet-name>ViewPendingReviews</servlet-name>
    <servlet-class>able.servlets.ViewPendingReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingReviews</servlet-name>
    <url-pattern>/ViewPendingReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAcceptedReviews</display-name>
    <servlet-name>ViewAcceptedReviews</servlet-name>
    <servlet-class>able.servlets.ViewAcceptedReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAcceptedReviews</servlet-name>
    <url-pattern>/ViewAcceptedReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRules</display-name>
    <servlet-name>ViewRules</servlet-name>
    <servlet-class>able.servlets.ViewRules</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRules</servlet-name>
    <url-pattern>/ViewRules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUpdates</display-name>
    <servlet-name>ViewUpdates</servlet-name>
    <servlet-class>able.servlets.ViewUpdates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUpdates</servlet-name>
    <url-pattern>/ViewUpdates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrganization</display-name>
    <servlet-name>ViewOrganization</servlet-name>
    <servlet-class>able.servlets.ViewOrganization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrganization</servlet-name>
    <url-pattern>/ViewOrganization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_ViewUsers</display-name>
    <servlet-name>Mod_ViewUsers</servlet-name>
    <servlet-class>able.servlets.Mod_ViewUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_ViewUsers</servlet-name>
    <url-pattern>/Mod_ViewUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_DeleteUsers</display-name>
    <servlet-name>Mod_DeleteUsers</servlet-name>
    <servlet-class>able.servlets.Mod_DeleteUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_DeleteUsers</servlet-name>
    <url-pattern>/Mod_DeleteUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_ViewAllPendingPost</display-name>
    <servlet-name>Mod_ViewAllPendingPost</servlet-name>
    <servlet-class>able.servlets.Mod_ViewAllPendingPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_ViewAllPendingPost</servlet-name>
    <url-pattern>/Mod_ViewAllPendingPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_DeleteAllPendingPost</display-name>
    <servlet-name>Mod_DeleteAllPendingPost</servlet-name>
    <servlet-class>able.servlets.Mod_DeleteAllPendingPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_DeleteAllPendingPost</servlet-name>
    <url-pattern>/Mod_DeleteAllPendingPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_AcceptAllPendingPost</display-name>
    <servlet-name>Mod_AcceptAllPendingPost</servlet-name>
    <servlet-class>able.servlets.Mod_AcceptAllPendingPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_AcceptAllPendingPost</servlet-name>
    <url-pattern>/Mod_AcceptAllPendingPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_ViewAllAcceptedPost</display-name>
    <servlet-name>Mod_ViewAllAcceptedPost</servlet-name>
    <servlet-class>able.servlets.Mod_ViewAllAcceptedPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_ViewAllAcceptedPost</servlet-name>
    <url-pattern>/Mod_ViewAllAcceptedPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_DeleteAllAcceptedPost</display-name>
    <servlet-name>Mod_DeleteAllAcceptedPost</servlet-name>
    <servlet-class>able.servlets.Mod_DeleteAllAcceptedPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_DeleteAllAcceptedPost</servlet-name>
    <url-pattern>/Mod_DeleteAllAcceptedPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_ViewAllPendingReviews</display-name>
    <servlet-name>Mod_ViewAllPendingReviews</servlet-name>
    <servlet-class>able.servlets.Mod_ViewAllPendingReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_ViewAllPendingReviews</servlet-name>
    <url-pattern>/Mod_ViewAllPendingReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_DeleteAllPendingReviews</display-name>
    <servlet-name>Mod_DeleteAllPendingReviews</servlet-name>
    <servlet-class>able.servlets.Mod_DeleteAllPendingReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_DeleteAllPendingReviews</servlet-name>
    <url-pattern>/Mod_DeleteAllPendingReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_AcceptAllPendingReviews</display-name>
    <servlet-name>Mod_AcceptAllPendingReviews</servlet-name>
    <servlet-class>able.servlets.Mod_AcceptAllPendingReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_AcceptAllPendingReviews</servlet-name>
    <url-pattern>/Mod_AcceptAllPendingReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_ViewAllAcceptedReviews</display-name>
    <servlet-name>Mod_ViewAllAcceptedReviews</servlet-name>
    <servlet-class>able.servlets.Mod_ViewAllAcceptedReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_ViewAllAcceptedReviews</servlet-name>
    <url-pattern>/Mod_ViewAllAcceptedReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_DeleteAllAcceptedReviews</display-name>
    <servlet-name>Mod_DeleteAllAcceptedReviews</servlet-name>
    <servlet-class>able.servlets.Mod_DeleteAllAcceptedReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_DeleteAllAcceptedReviews</servlet-name>
    <url-pattern>/Mod_DeleteAllAcceptedReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_ViewRules</display-name>
    <servlet-name>Mod_ViewRules</servlet-name>
    <servlet-class>able.servlets.Mod_ViewRules</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_ViewRules</servlet-name>
    <url-pattern>/Mod_ViewRules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_DeleteRules</display-name>
    <servlet-name>Mod_DeleteRules</servlet-name>
    <servlet-class>able.servlets.Mod_DeleteRules</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_DeleteRules</servlet-name>
    <url-pattern>/Mod_DeleteRules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_ViewOrganization</display-name>
    <servlet-name>Mod_ViewOrganization</servlet-name>
    <servlet-class>able.servlets.Mod_ViewOrganization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_ViewOrganization</servlet-name>
    <url-pattern>/Mod_ViewOrganization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_DeleteOrganization</display-name>
    <servlet-name>Mod_DeleteOrganization</servlet-name>
    <servlet-class>able.servlets.Mod_DeleteOrganization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_DeleteOrganization</servlet-name>
    <url-pattern>/Mod_DeleteOrganization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_ViewUpdates</display-name>
    <servlet-name>Mod_ViewUpdates</servlet-name>
    <servlet-class>able.servlets.Mod_ViewUpdates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_ViewUpdates</servlet-name>
    <url-pattern>/Mod_ViewUpdates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_DeleteUpdates</display-name>
    <servlet-name>Mod_DeleteUpdates</servlet-name>
    <servlet-class>able.servlets.Mod_DeleteUpdates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_DeleteUpdates</servlet-name>
    <url-pattern>/Mod_DeleteUpdates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_SubmitPost</display-name>
    <servlet-name>Mod_SubmitPost</servlet-name>
    <servlet-class>able.servlets.Mod_SubmitPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_SubmitPost</servlet-name>
    <url-pattern>/Mod_SubmitPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_SubmitSiteReviews</display-name>
    <servlet-name>Mod_SubmitSiteReviews</servlet-name>
    <servlet-class>able.servlets.Mod_SubmitSiteReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_SubmitSiteReviews</servlet-name>
    <url-pattern>/Mod_SubmitSiteReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_SubmitOrganization</display-name>
    <servlet-name>Mod_SubmitOrganization</servlet-name>
    <servlet-class>able.servlets.Mod_SubmitOrganization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_SubmitOrganization</servlet-name>
    <url-pattern>/Mod_SubmitOrganization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_SubmitRules</display-name>
    <servlet-name>Mod_SubmitRules</servlet-name>
    <servlet-class>able.servlets.Mod_SubmitRules</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_SubmitRules</servlet-name>
    <url-pattern>/Mod_SubmitRules</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_Submit_Updates</display-name>
    <servlet-name>Mod_Submit_Updates</servlet-name>
    <servlet-class>able.servlets.Mod_Submit_Updates</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_Submit_Updates</servlet-name>
    <url-pattern>/Mod_Submit_Updates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Std_ViewCloudPost</display-name>
    <servlet-name>Std_ViewCloudPost</servlet-name>
    <servlet-class>able.servlets.Std_ViewCloudPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Std_ViewCloudPost</servlet-name>
    <url-pattern>/Std_ViewCloudPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Std_SubmitPost</display-name>
    <servlet-name>Std_SubmitPost</servlet-name>
    <servlet-class>able.servlets.Std_SubmitPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Std_SubmitPost</servlet-name>
    <url-pattern>/Std_SubmitPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Std_DisplayAllSiteReviews</display-name>
    <servlet-name>Std_DisplayAllSiteReviews</servlet-name>
    <servlet-class>able.servlets.Std_DisplayAllSiteReviews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Std_DisplayAllSiteReviews</servlet-name>
    <url-pattern>/Std_DisplayAllSiteReviews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>able.servlets.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mod_Admin_Profile</display-name>
    <servlet-name>Mod_Admin_Profile</servlet-name>
    <servlet-class>able.servlets.Mod_Admin_Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mod_Admin_Profile</servlet-name>
    <url-pattern>/Mod_Admin_Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>able.servlets.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
</web-app>